{% extends "auth/base_auth.html" %}

{% block content %}

<div class="pt-4 pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Entrer le nouveau mot de passe</h5>
  </div>

  <form action="{% url 'update' %}" method="post" class="row g-3 needs-validation" novalidate>
    {% csrf_token %}

    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}


    
        {% csrf_token %}
    
        <div class="col-12">
            <label for="yourPassword" class="form-label">Mot de passe</label>
            <input type="password" name="newpassword" class="form-control" id="yourPassword" required>
        </div>
    
        <div class="col-12">
            <label for="confirmPassword" class="form-label">Répéter votre mot de passe</label>
            <input type="password" name="renewpassword" class="form-control" id="confirmPassword" required>
        </div>
    
        <div class="col-12" id="password-verification-message"></div>
    
        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit" id="submit-button" disabled>Réinitialier</button>
        </div>
    </form>
    
    <script>
        const passwordInput = document.getElementById('yourPassword');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const verificationMessage = document.getElementById('password-verification-message');
        const submitButton = document.getElementById('submit-button');
    
        // Function to validate password criteria
        function validatePassword() {
            const password = passwordInput.value;
            const confirmPassword = confirmPasswordInput.value;
    
            // Add your password validation rules here
            const isValid = password.length >= 8 && /[A-Z]/.test(password) && /[a-z]/.test(password) && /\d/.test(password);
    
            if (isValid) {
                if (password === confirmPassword) {
                    verificationMessage.textContent = 'Votre mot de passe rempli tout les critères';
                    verificationMessage.style.color = 'green';
                    submitButton.removeAttribute('disabled');
                } else {
                    verificationMessage.textContent = 'Les mot de passe ne correspondent pas .';
                    verificationMessage.style.color = 'red';
                    submitButton.setAttribute('disabled', 'true');
                }
            } else {
                verificationMessage.textContent = 'Le mot de passe doit comporter au moins 8 caractères, avec des lettres majuscules et minuscules et un chiffre.';
                verificationMessage.style.color = 'red';
                submitButton.setAttribute('disabled', 'true');
            }
        }
    
        // Attach an event listener to validate the password on input change
        passwordInput.addEventListener('input', validatePassword);
        confirmPasswordInput.addEventListener('input', validatePassword);
    </script>
    
{% endblock content %}